@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-button: rgb(252, 191, 77);
    --border-color: black;
    --primary-color: black;
    --primary-bg-color: #fff;
    --primary-border-color: #a78bfa;
    --curr-word: #e2e8f0;
    --timer: #8b5cf6;
    --second-bg: #e5e7eb;
    --reverse-bg: #fff;
    --hover-key: #f1f5f9;
}

.dark {
    --bg-button: rgb(63, 63, 63);
    --border-color: #fff;
    --primary-color: #fff;
    --primary-bg-color: rgba(34, 34, 34, 0.892);
    --primary-border-color: #fff;
    --curr-word: #0f172a;
    --timer: #fff;
    --second-bg: transparent;
    --reverse-bg: black;
    --hover-key: rgb(51, 51, 51);
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--primary-bg-color);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding-left: 0;
}

.keyboard {
    display: grid;
    width: 812px;
    grid-template-columns: repeat(30, 21px);
}

.btn-theme {
    display: block;
    cursor: pointer;
    background-color: var(--bg-button);
    border-radius: 20px;
    border: 2px solid var(--border-color);
    min-width: 80px;
    padding: 3px;
    transition: all 0.2s;
}

.word-current {
    @apply bg-currWord rounded-xl;
}

.word--incorrect {
    color: red;
}
.word--correct {
    color: green;
}
